<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="row">
		
		<center><label for="name">Enter Employee Name:&nbsp&nbsp</label><input type="text" id="name" ng-model="name"></input></center></div>
		<br>
		<div class="row">
		<center><input type="button" class="btn btn-primary" value="submit" ng-click="submit(name)"></input></center></div>
	</div>

</div>
<center>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-5">
	<table class="table table-hover">
		<tr>
			<td>Mon</td>
			<td>Tue</td>
			<td>Wed</td>
			<td>Thu</td>
			<td>Fri</td>
			<td>Sat</td>
			<td>Sun</td>
			<td>Total</td>
			<td>DOE</td>
			<td>YOW</td>
		</tr>
		<hr>
		<tr ng-repeat="x in data">
			<center><td>{{x.mon}}</td></center>
			<center><td>{{x.tue}}</td></center>
			<center><td>{{x.wed}}</td></center>
			<center><td>{{x.thu}}</td></center>
			<center><td>{{x.fri}}</td></center>
			<center><td>{{x.sat}}</td></center>
			<center><td>{{x.sun}}</td></center>
			<center><td>{{x.total}}</td></center>
			<center><td>{{x.doe}}</td></center>
			<center><td>{{x.yow}}</td></center>
		</tr>
		

	</table>
	</div>
</div>
</center>
</div>