<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
<div class= "container" align="center">
<div class="row">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2 style="background-color:#808080;color:white">
Admin
</h2>
<hr>
 <div class="col-md-3"></div>
 <div ng-app="app" ng-controller="adminHomeController" class="col-md-6">
<button type="button" class="btn btn-primary btn-block"><a href="#register"><h4>Create User</h4></a></button>
</br>
</br>
<button type="button" class="btn btn-primary btn-block"><h4>Delete User</h4></button>
<br>
<br>
<button type="button" class="btn btn-primary btn-block"><h4>Get Timesheets</h4></button>
</div>
</div>
</div>
</body>
</html>
