<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style >

  </style>
</head>
<body ng-app = "app">
<div class= "container" ng-controller = "adminHomeController">
<div class="row">{{username}}</div>
   <div class="row">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h2  align = "center" style="background-color:#808080;color:white"> Create User</h2>
          <hr>
          <div class="col-md-4"></div>
       <div class = "col-md-5">
          <form>
        <h4>First Name:</h4><input type="text"  ng-model="firstname" id="firstname" placeholder="enter your firstname" class="form-control">
           <br>
           <br>
        <h4>Last Name:</h4><input type = "text" ng-model="lastname" id="lastname" placeholder="enter your lastname" class="form-control">
           <br>
           <br>
        <h4>E-mail:</h4><input type ="email" ng-model="emailid" id="emailid" placeholder="enter your email id" class="form-control">
           <br>
           <br>
           
        <button type="button" class="btn btn-primary btn-md" id= "create" ng-click = "submit()" style="background-color:#808080;color:white">Create</button>
        </div>
    </div>
          </form>
    </div>
</div>
</body>
</html>