<br>
<br>
<br>
<br>
<br>
<div class="container" ng-controller="Newusercontroller">
<div class="row" ng-app="app">
<div class="col-md-3"></div>
<div class="col-md-6"><h1 class="heading">Enter Password</h1>
<hr>
</div>
</div>
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<div class="row">
<div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="NewUser.password">
    </div>
<div class="form-group">
      <label for="pwd">Re-Enter Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Re-Enter password" ng-model="NewUser.repassword">
      <div class="row">
    </div>
    </div>
    <div class="form-group">
      
      <input type="button" class="form-control" id="submit" value="submoit" ng-click="submit(NewUser)">
      

    </div>
    </div>
    </div>
</div>
</div>

