<br>
<br>
<br>

<br>
<div ng-controller="regController">
<div class="row">
  {{name}}
</div>
<div id=rgform class="row">

 <div class="container">

  <div class="col-md-4">
  </div>
     <div class="col-md-4">
     <div class="row"><h2 style="text-align: left;">Registration form</h2></div><hr>
     <div class="row">
     <label for="Name">First name:</label>
      <input type="text" ng-model="user.fname" class="form-control col-md-3" id="Name" placeholder="Enter name" ></div><br>
      <div class="row">
      <label for="Username">Last name:</label>
      <input type="text" ng-model="user.lname" class="form-control col-md-3" id="username" placeholder="Enter  user name" ></div><br>
      <div class="row">
      <label for="email">Email:</label>
      <input type="email" ng-model="user.email" class="form-control col-md-3" id="email" placeholder="Enter email"></div><br>
      <div class="row">
      </div><br>
      
      <hr>
      <div class="row">

      <center><button type="submit" id="regbtn" class="btn btn-primary" onclick="this.disabled = true"  ng-disabled="action" ng-click="submit(user)">Submit</button></div></center>

    </div>
   </div>
</div>
</div>